<% provide(:title, 'About') %>
<%=  image_tag("Egypt.21.jpg", align:"right") %><h1>Последние новости Египта</h1><%=  image_tag("Egypt.05.jpg", align:"left") %>
<h2 class="zzz"> Знаменитую пирамиду Хеопса закрывают на ремонт, чтобы очистить от «наскальностей» туристов</br></br>
На реставрацию закроется одно из древнейших в мире сооружений, знаменитая достопримечательность Египта, пирамида Хеопса. При этом самой основной причиной для реставрации станут многочисленные порчи, оставленные здесь иностранными туристами.
Специалисты по сохранению культурного наследия Египта совместно с представителями министерства по делам древностей АРЕ после тщательного анализа ситуации пришли к выводу, что пирамида нуждается в срочной очистке от этих «памятников бескультурья». По оставленным на древних камнях именам можно судить о широкой географии египетского туризма - здесь отметились жители едва ли не со всего мира. Первые «заметки на память» были оставлены на пирамидах Гизы еще в XIX веке. Но в последние годы их стало очень много, хотя в большинстве случаев все эти письмена были нанесены мелом, ручками или маркерами.
Кроме реставрационных работ специалисты планируют полностью заменить систему освещения снаружи и внутри в соответствии с международными стандартами. Последний раз пирамиду Хеопса реставрировали 15 лет назад. Остальные знаменитые пирамиды Гизы подвергались ремонту около 2012 года.
Напомним, что это не единственный исторический памятник, регулярно страдающий от вандалов. Так, в ноябре «отличился» российский турист, который был задержан в Колизее за выцарапыванием на стене буквы «К» размером 25 см на 17 см. В итоге нарушитель был задержан, и ему предъявили обвинение в совершении акта вандализма со штрафом в размере €20 тыс.
<%=  image_tag("Egypt.20.jpg", align:"left") %>
</br></br>В Каире запустили водное такси </br></br>

По Нилу поплывут такси: новое развлечение предлагает туристам и всем желающим Каир. Столица Египта борется с пробками, которые станут одной из тем заседания Правительства страны на следующей неделе. Именно тогда должна развернуться широкая дискуссия по поводу пароходиков с шашечками, идею которых предложили министерства транспорта, гидромелиорации и окружающей среды. Речные такси призваны связать район Канатер-аль-Хайрия к северу от Каира с Хельваном, на противоположном конце города.<%=  image_tag("Egypt.22.jpg", align:"right") %>

По замыслу авторов идеи, речной трамвайчик будет делать 10 остановок и находиться в пути 45 минут. Согласитесь, это меньше часовой (а то и больше) езды на автомобиле.
Как сообщают источники в Министерстве гидромелиорации и водных ресурсов, всего за день такси будет совершать 15 поездок по Нилу. А Министр Хоссам Могази пообещал, что общее время в пути не превысит 20 минут. Первое речное такси отойдет от причала уже в январе.</h2>

