<% provide(:title, 'Help') %>
<%=  image_tag("Egypt.01.jpg", align:"right") %><h1>Древний Египет</h1>

<h2 class="zzz">Туризм является одной из основных доходных статей Египта[36], поэтому государство всячески способствует развитию этой отрасли. Интенсивно строятся и модернизируются курортные комплексы на морском побережье, в городах-курортах Шарм-эш-Шейх, Хургада и др.
В Египте находятся памятники различных эпох и цивилизаций: древнеегипетской, христианской (коптской), средневековой арабской. <%=  image_tag("Egypt.04.jpg", align:"left") %></br> Наиболее посещаемые достопримечательности:</br>
Древнеегипетские некрополи (пирамиды Гизы и другие, Долина Царей и Цариц в Луксоре, гробницы знати).
Храмы фараонов, особенно в Луксоре и Абу-Симбеле.
Памятники Средневековья — Исламский и Старый Каир.
На Красном и Средиземном морях расположены многочисленные курорты для любителей дайвинга, серфинга и тому подобных увлечений.</h2>
<%=  image_tag("Egypt.03.jpg", align:"right") %>
<h2 class="zzz">
Характерной особенностью египетского туризма является общение с местными жителями. Принятая здесь манера торговаться очень часто застает новичков врасплох[37]. Однако, во многом это — лишь обязательная часть спектакля, который традиционно разыгрывается между продавцом и покупателем. Завидев иностранца, местные торговцы могут существенно завышать цену, поэтому торговаться рекомендуется смело — с возгласами, демонстративными уходами и возвращениями. Следует также помнить, что, как и во многих местах скопления туристов, на улицах курортных городов есть мошенники и карманные воришки, поэтому необходимо внимательно следить за ценностями. <%=  image_tag("Egypt.07.jpg", align:"left") %> </br> Идёте фотографировать — берёте только фотоаппарат, идёте что-то покупать — берите небольшую сумму денег. В сложных ситуациях на помощь туристам придёт специальная туристическая полиция, куда следует обращаться для решения вопросов. Однако, несмотря на различия и особенности культур, отношение египтян к туристам очень радушное. Египет славится своим гостеприимством и тёплым отношением к путешественникам.</h2>