#inner {
color: #e6e6e6;
background: #1a1a1a;
padding: 30px;
height: 100px;
margin-top: 50px;

}
.container2 {
	width: 1100px;
	margin: auto;
	
}
#inner h2{
	float: right;
}
.zzz{
	text-align: justify;
	color: #000;
	font-size: 17px;
}
img{
	margin: 14px;

}


#sidebarL 
{
padding: 20px;
border-radius:  15px;
width: 25%;
clear: left;
float: left;
background-color: #fff;	
margin: 10px auto 0 auto;
height: 500px;


}
     
#content
{
background-color: #fff;	
padding: 20px;

width: 65%;
margin: 10px auto 0 auto;
text-align: left ;
float: right;
height: 500px;
border-radius:  15px;
}


#wrap { 
background-image: url("Egypt.23.jpg") ;
height: 403px;
width: 1100px;
border-radius: 15px;
}

.zz {
	
	color: #000;
	font-size: 25px;
	margin-top: 320px;
    text-align: right;
}
.zzzz{
	text-align: justify;
	color: #000;
}
.z {
	margin-bottom: 0px;
}