<footer class="footer">
  <div id="inner">
    
      <p>Проект HAPPY EGYPT by Kirill</p>
        
      
      <nav>
        <h2>Учусь создавать сайты на RAILS 4</h2>
      </nav>
    
  </div >
        
</footer>